/*-----------HEADER---------------------------------*/
.header-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-logo{
    background-color: #FFFF;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0;
}
.header-menu .main-logo img{
    height: 70%;
}