body{
  background-color: #373A40;
}
.main-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  margin: 10px auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #373A40;
  padding: 1rem auto;

  .main-body-header1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
  }
  .first-article{
    display: flex;
    justify-content: center;
    align-items: center;
    h2{
      text-decoration: underline;
      font-size: 2rem;
      color: #ccc;
      display: flex;
      justify-content: center;
    }
  }

  .first-article-video{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    iframe{
      width: 100%;
      border: 2px solid black;
  }
 }
 .first-article-text{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  padding-top: 0.5rem;
  text-align: justify;
  p{
    letter-spacing: .1rem;
    color: #ccc;
  }
 }
 .second-article{
  display: flex;
  justify-content: center;
  align-items: center;
  h2{
    text-decoration: underline;
    font-size: 2rem;
    color: #ccc;
    display: flex;
    justify-content: center;
  }
 }
 .second-article-header img{
    width: 100%;
    height: 100%;
 }
 .second-article-text{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  padding-top: 0.5rem;
  text-align: justify;
  p{
    letter-spacing: .1rem;
    color: #ccc;
  }
 }

}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 100%;
  height: 300px;
  
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 12s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}
img:nth-child(6) {
  animation-delay: 10s;
}

.personajes-container{
  display: flex;
  grid-row: 11 / span 2;
  grid-column: 2 / 2;
  flex-direction: column;
  justify-content: center;
}

.personajes-container h2{
  text-decoration: underline;
  font-size: 2rem;
  color: #ccc;
}
.personajes-container img{
  height: 100%;
  padding: 1rem;
  margin-bottom: 10px;
}