/*PAGINA PERSONAJES*/

.main-options{
    background-color: #373A40;
}
.main-options div .col-4{
    border: 2px solid #ccc;
    background-color: #3ca0e7;
}
.main-options div .col-4 div h5{
    border: 2px solid #ccc;
    display: inline-block;
    color: #373A40;
}

.main-options div .col-4 h5{
    color: #ccc;
    background-color: #686D76;
}